swiftion/swiftion-webapp/src/main/resources/static/schemaModels/xml/creditDebitTransactionSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root" type="rootType"/>
	<xs:complexType name="dataType">
		<xs:sequence>
			<xs:element name="id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Debit"/>
						<xs:enumeration value="Credit"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rootType">
		<xs:sequence>
			<xs:element type="dataType" name="data" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element name="status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="success" />
						<xs:enumeration value="failed" />
						<xs:enumeration value="true" />
						<xs:enumeration value="false" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>