swiftion/swiftion-webapp/src/main/resources/static/schemaModels/xml/customTransactionSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root" type="rootType"/>
	<xs:complexType name="dataType">
		<xs:sequence>
			<xs:element type="xs:string" name="cost_center_id"/>
			<xs:element type="xs:string" name="name"/>
			<xs:element name="currency_type_id">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
					</xs:restriction>
				</xs:simpleType>
		    </xs:element>
			<xs:element type="xs:string" name="custom_transaction_id"/>
			<xs:element name="currency_symbol">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="€"/>
						<xs:enumeration value="$"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="payment_date">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{4}-\d{2}-\d{2}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="amount">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]+([.,][0-9]{1,2})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element type="xs:string" name="description"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rootType">
		<xs:sequence>
			<xs:element type="dataType" maxOccurs="unbounded" minOccurs="0" name="data"/>
			<xs:element name="status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="success" />
						<xs:enumeration value="failed" />
						<xs:enumeration value="true" />
						<xs:enumeration value="false" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>