swiftion/swiftion-webapp/src/main/resources/static/schemaModels/xml/editPasswordSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element name="data">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element type="xs:string" name="password"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="status">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="success" />
                            <xs:enumeration value="failed" />
                            <xs:enumeration value="true" />
                            <xs:enumeration value="false" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>