swiftion/swiftion-webapp/src/main/resources/static/schemaModels/xml/getTransactionsSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root" type="rootType"/>
    <xs:complexType name="dataType">
        <xs:sequence>
            <xs:element type="xs:string" name="value_date"/>
            <xs:element type="xs:string" name="amount"/>
            <xs:element name="payment_reference">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="swift_copy_id"/>
            <xs:element type="xs:string" name="transaction_id"/>
            <xs:element type="xs:string" name="transaction_narrative"/>
            <xs:element name="custom_description">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="transaction_type_id"/>
            <xs:element type="xs:string" name="cost_center_name"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="rootType">
        <xs:sequence>
            <xs:element type="dataType" name="data" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="success"/>
                        <xs:enumeration value="failed"/>
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>