swiftion/swiftion-webapp/src/main/resources/static/schemaModels/xml/profileSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root" type="rootType"/>
	<xs:complexType name="dataType">
		<xs:sequence>
			<xs:element type="xs:string" name="id"/>
			<xs:element name="email">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element type="xs:string" name="firstname"/>
			<xs:element type="xs:string" name="lastname"/>
			<xs:element name="role_id">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rolename">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Gebruiker"/>
						<xs:enumeration value="Penningmeester"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rootType">
		<xs:sequence>
			<xs:element type="dataType" name="data"/>
			<xs:element name="status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="success"/>
						<xs:enumeration value="failed"/>
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>