swiftion/swiftion-webapp/src/main/resources/static/schemaModels/xml/rolesOverviewSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root" type="rootType"/>
	<xs:complexType name="dataType">
		<xs:sequence>
			<xs:element name="role_id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Gebruiker"/>
						<xs:enumeration value="Penningmeester"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rootType">
		<xs:sequence>
			<xs:element type="dataType" name="data" maxOccurs="unbounded" minOccurs="1"/>
			<xs:element type="xs:string" name="status"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>