swiftion/swiftion-webapp/src/main/resources/static/schemaModels/xml/swiftCopySchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root" type="rootType"/>
    <xs:complexType name="dataType">
        <xs:sequence>
            <xs:element type="xs:string" name="transactionRef"/>
            <xs:element type="xs:string" name="swiftcopyId"/>
            <xs:element type="xs:string" name="dateAdded"/>
            <xs:element type="xs:string" name="iban"/>
            <xs:element name="openingBal">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="closingBal">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="num_transactions"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="rootType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="dataType" name="data"/>
            <xs:element name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="success"/>
                        <xs:enumeration value="failed"/>
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>