swiftion/swiftion-api/src/main/resources/static/schemaModels/xml/ApiMessage.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="dataType">
    <xs:sequence>
      <xs:element type="xs:string" name="message"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="dataType" name="data"/>
      <xs:element type="xs:string" name="status"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>